<div class="auth">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#login">Ввійти</a></li>
                <li class="tab col s6"><a href="#register">Реєстрація</a></li>
            </ul>
        </div>
        <div id="login" class="col s6 offset-s3">
            {{#if loginError}}
            <p class="alert_err">{{loginError}}</p>
            {{/if}}
            <h1 class="auth-authentication">Ввійти в магазин</h1>
            <form action="/auth/login" method="POST">
                <div class="input-field">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Введіть email"></span>
                </div>

                <div class="input-field">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Пароль</label>
                    <span class="helper-text" data-error="Введіть пароль"></span>
                </div>

                <input type="hidden" name="_csrf" value="{{csrf}}">

                <p><a href="/auth/reset">Забули пароль?</a></p>

                <button class="btn btn-primary" type="submit">Ввійти</button>
            </form>
        </div>
        <div id="register" class="col s6 offset-s3">
            {{#if registerError}}
            <p class="alert_err">{{registerError}}</p>
            {{/if}}
            <h1 class="auth-authentication">Реєстрація</h1>
            <form action="/auth/register" method="POST" novalidate>
                <div class="input-field">
                    <input id="remail" name="email" type="email" class="validate" required>
                    <label for="remail">Email</label>
                    <span class="helper-text" data-error="Введіть email"></span>
                </div>

                <div class="input-field">
                    <input id="rpassword" name="password" type="password" class="validate" required>
                    <label for="rpassword">Пароль</label>
                    <span class="helper-text" data-error="Введіть пароль"></span>
                </div>

                <div class="input-field">
                    <input id="confirm" name="confirm" type="password" class="validate" required>
                    <label for="confirm">Пароль ще раз</label>
                    <span class="helper-text" data-error="Введіть пароль"></span>
                </div>

                <div class="input-field">
                    <input id="name" name="name" type="text" class="validate" required>
                    <label for="name">Ваше Ім'я</label>
                    <span class="helper-text" data-error="Введіть Ім'я"></span>
                </div>

                <input type="hidden" name="_csrf" value="{{csrf}}">


                <button class="btn btn-primary" type="submit">Зареєструватися</button>
            </form>
        </div>
    </div>
</div>