<div class="row">

    <div class="col s6 offset-s3">
        {{#if error}}
        <p class="alert_err">{{error}}</p>
        {{/if}}
        <h1 class="auth-authentication">Задати новий пароль</h1>
        <form action="/auth/password" method="POST">
            <div class="input-field">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Новий пароль</label>
                <span class="helper-text" data-error="Введіть пароль"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">

            <button class="btn btn-primary" type="submit">Обновити пароль</button>
        </form>
    </div>

</div>