<div class="row">

    <div class="col s6 offset-s3">
        {{#if error}}
        <p class="alert_err">{{error}}</p>
        {{/if}}
        <h1 class="auth-authentication">Забули пароль?</h1>
        <form action="/auth/reset" method="POST">
            <div class="input-field">
                <input id="email" name="email" type="email" class="validate" required>
                <label for="email">Email</label>
                <span class="helper-text" data-error="Введіть email"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn btn-primary" type="submit">Скинути</button>
        </form>
    </div>

</div>