<h1>Редагувати {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
    <label for="title">Назва курса</label>
    <span class="helper-text" data-error="Введіть назву"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1" value="{{course.price}}">
    <label for="price">Ціна курса</label>
    <span class="helper-text" data-error="Введіть ціну"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{course.img}}">
    <label for="img">URL картинки</label>
    <span class="helper-text" data-error="Введіте url картинки"></span>
  </div>

  <input type="hidden" name="id" value="{{course.id}}">
  <input type="hidden" name="_csrf" value="{{csrf}}">


  <button type="submit" class="btn btn-primary">Редагувати курс</button>
</form>

<form action="/courses/remove" method="POST">
  <input type="hidden" name="id" value="{{course.id}}">
  <input type="hidden" name="_csrf" value="{{csrf}}">

  <button class="btn red">Видалити</button>
</form>