<h1>Курси</h1>

{{#if courses.length}}
{{#each courses}}
<div class="row-app">
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card">
        <div class="card-image">
          <img src="{{img}}" alt="{{title}}">
        </div>
        <div class="card-content">
          <span class="card-title">{{title}}</span>
          <p class="price">{{price}}</p>
        </div>
        <div class="card-action actions">
          <a href="/courses/{{id}}" target="_blank">Відкрити курс</a>
          {{#if @root.isAuth}}

          {{#ifeq userId._id  @root.userId}}
          <a href="/courses/{{id}}/edit?allow=true">Редагувати</a>
          {{/ifeq}}

          <form action="/card/add" method="POST">
            <input type="hidden" name="_csrf" value="{{@root.csrf}}">
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" class="btn btn-primary">Купити</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{else}}
<p>Курсів нема</p>
{{/if}}