<h1>Профіль</h1>

<div class="row">
    <div class="col s6">
        {{#if user.avatarUrl}}
        <img class="avatar" src="/{{user.avatarUrl}}" alt="avatar-{{user.name}}">
        {{else}}
        <p>Аватарки нема</p>
        {{/if}}
    </div>

    <div class="col s6">
        <form action="/profile" method="POST" enctype="multipart/form-data"> 
            <p>Ваш email </strong>{{user.email}}</strong></p>

            <div class="input-field">
                <input id="name" name="name" type="text" class="validate" required value="{{user.title}}">
                <label for="name">Ваше ім'я</label>
                <span class="helper-text" data-error="Ім'я не може бути пустим"></span>
            </div>


            <div class="file-field input-field">
                <div class="btn">
                    <span>Аватар</span>
                    <input type="file" name="avatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button type="submit" class="btn">Змінити</button>

        </form>
    </div>
</div>