.nav-wrapper {
  padding: 0 2rem;
}

.price {
  font-size: 2rem;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}

.card-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-form{
  margin-bottom: 20px;
}

.auth{
  padding-top: 1rem;
}

.auth-authentication {
  font-size: 45px;
  text-align: center;
  color: red;
  opacity: 0.6;
  
}

.row-app {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}
 
.alert_err{
  padding: .5rem 1rem;
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background: rgba(255, 0, 0, .3);
  color: red;
}

.avatar{
  max-width: 300px;
  height: auto;
}